* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("/img/pusheen/background.png");
}

#board img {
    width: calc(18vh - 10px);
    height: calc(18vh - 10px);
    display: block;
    float: left;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #545328
}

#board {
    float: left;
    width: 108vh;
    height: 90vh;
    background: #f8f7e0;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.75);
}

#gameStatus {
    margin-left: 30px;
    float: left;
    background: #f4edc7;
    width: 35vh;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.45);
    padding: 20px;
    font-size: 30px;
    font-family: 'Coming Soon', cursive;
}

#gameStatus p {
    margin: 0 0 16px 0;
}

#ultradiv {
    padding: 10px;
    margin: 20px auto;
    overflow: auto;
    width: calc(108vh + 30px + 35vh + 20px);
}

#gameStatus img {
    width: 100%;
    display: block;
}

#victoryDiv {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#megaDiv {
    position: fixed;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Coming Soon', cursive;
    background: #fff;
    padding: 20px 0;
    box-shadow: 1px 0 10px rgba(0,0,0,0.5);
}
