* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #faf5e4;
}

#board {
    float: left;
    width: calc(60vw + 2px);
    height: calc(50vw + 2px);
    max-height: calc(100vh + 2px);
    max-width: calc(120vh + 2px);
    border-radius: 5px;
    background: #cbf7f1;
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

#board img {
    width: 9vw;
    height: 9vw;
    max-height: calc(20vh - 1vw);
    max-width: calc(20vh - 1vw);
    display: block;
    float: left;
    margin: 0.5vw;
    border-radius: 5px;
    border: 5px solid white;
    background: #EADFD4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#gameStatus {
    margin-left: 30px;
    float: left;
    width: calc(20vw - 2px);
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Coming Soon', cursive;
    background: #FCF0E4;
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

#gameStatus p {
    margin: 0 0 16px 0;
}

#ultradiv {
    padding: 10px;
    margin: 20px auto;
    overflow: auto;
    width: calc(60vw + 20vw + 50px);
}

#gameStatus img {
    width: 100%;
    display: block;
}

#victoryDiv {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#megaDiv {
    position: fixed;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Coming Soon', cursive;
    background: #fff;
    padding: 20px 0;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}

#restartButton {
    background-color: #ffdbc4;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 150px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

#restartButton:active {
    background: #f0ceb9;
    font-weight: 700;
}
