* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("/img/pusheen/background.png");
}

img {
    width: 15vw;
    height: 15vw;
    display: block;
    float: left;
    padding: 5px;
}

#board {
    margin: 20px auto;
    width: 90vw;
    height: 75vw;
    background: #f8f7e0;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.75);
}
