---
layout: default
permalink: /cv
css: cv.css
---

{% assign cv = site.data.cv %}


<body>
<header>
    <h1>{{ cv.name }}</h1>
</header>
<main>
    <i class="fa fa-envelope" aria-hidden="true"></i>  {{ cv.email }}
    <br>
    <i class="fa fa-phone" aria-hidden="true"></i>    {{ cv.phone }}
    <br>
    <i class="fa fa-birthday-cake" aria-hidden="true"></i>  {{ cv.birthday }}
    <br>
    <i class="fa fa-flag" aria-hidden="true"></i>  {{ cv.citizenship }}
    <h2>Education</h2>
    <ul class="cv-list">
        {% for education in cv.education %}
            <li>
                <h3>{{ education.program }} ({{ education.year }})</h3>
                <p>{{ education.school }}</p>
            </li>
        {% endfor %}
    </ul>
    <h2>Experience</h2>
    <ul class="cv-list">
        {% for experience in cv.experience %}
            <li>
                <h3>{{ experience.position }} ({{ experience.year }})</h3>
                <p>{{ experience.company }}</p>
            </li>
        {% endfor %}
    </ul>
    <h2>Interests</h2>
    <ul>
        {% for interest in cv.interest %}
            <li>{{ interest }}</li>
        {% endfor %}
    </ul>
    <h2>Projects</h2>
    <ul>
        {% for project in cv.projects %}
            <li><a href="{{ project.link }}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
</main>
<footer>
</footer>
</body>
