---
layout: default
permalink: /cv
css: cv.css
---

{% assign cv = site.data.cv %}


<body>
<header>
    <h1>{{ cv.name }}</h1>
</header>
<main>
    <div id="left-body">
        <ul class="icon-list">
            {% for details in cv.details %}
                <li>
                    <i class="fa fa-fw fa-{{ details.icon }}" aria-hidden="true"></i>
                    <span class="title">{{ details.title }}</span>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <ul class="social-list">
            {% for social in cv.social %}
                <li>
                    <i class="fa fa-fw fa-{{ social.icon }}" aria-hidden="true"></i>
                    <a target="_blank" href="{{ social.link }}">{{ social.title }}</a>

                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="right-body">
        <h2>Education</h2>
        <ul class="cv-list">
            {% for education in cv.education %}
                <li>
                    <h3>{{ education.program }} <span class="year">({{ education.year }})</span></h3>
                    <p>{{ education.school }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Experience</h2>
        <ul class="cv-list">
            {% for experience in cv.experience %}
                <li>
                    <h3>{{ experience.position }} <span class="year">({{ experience.year }})</span></h3>
                    <p>{{ experience.company }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Interests</h2>
        <ul class="tag-list">
            {% for interest in cv.interest %}
                <li>
                    <i class="fa fa-fw fa-{{ interest.icon }}" aria-hidden="true"></i>
                    <span class="title">{{ interest.title }}</span>
                </li>
            {% endfor %}
        </ul>
        <h2>Projects</h2>
        <ul>
            {% for project in cv.projects %}
                <li><a href="{{ project.link }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</main>
<footer>
</footer>
</body>
