<!DOCTYPE html>
<html>
<head>
    <title>Nicole's stuff</title>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    {% if page.css %}<link rel="stylesheet" href="/css/{{page.css}}">{% endif %}
</head>
<body>
    {{ content }}
</body>
</html>
