<!DOCTYPE html>
<html>
  <head>
    <title>Nicole's stuff</title>
    <link
      href="https://fonts.googleapis.com/css?family=Coming+Soon"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/favicon.png" />
    {% if page.css %}
    <link rel="stylesheet" href="/css/{{ page.css }}" />
    {% endif %}
    <script>
      let ua = navigator.userAgent;
      let noIe =
        document.URL.indexOf("pusheen-memory") > -1 ||
        document.URL.indexOf("bubble-game") > -1;
      if (noIe && (ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident") > -1)) {
        alert(
          "This game does not support Internet Explorer. Please use a different browser."
        );
        window.location = "/";
      }
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
